<h1 class="text-center"><%= @product.title %></h1>

<%= image_tag @product.image, class: 'center-block' %>
<br>
<p class="text-center">
  $<%= @product.price %>
</p>
<p class="text-center">
  <%= @product.description %>
</p>
<hr>
<%= render 'reviews/form' %>
<hr>
<% if @product.reviews.any? %>
  <% @product.reviews.each do |review| %>
  <p class="text-center">
    <%= User.find(review.user_id).email %> writes:
  </p>
  <p class="text-center">
    <%= review.content %>
  </p>
  <% if current_user %>
  <% puts current_user.admin %>
    <% if current_user.id == review.user_id || current_user.admin? %>
      <%= link_to 'Manage Review', edit_product_review_path(@product, review), class: 'btn btn-xs btn-warning' %>
    <% end %>
  <% end %>
  <hr>
  <% end %>
<% else %>
<p class="text-center">
  There are no reviews on this product yet.
</p>
<% end %>
